@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

:root {
    --color-blue: #44B3C2;
    --color-yellow: #FFB310;
    --color-red: #FA0026;
    --color-brown: #42361E;
    --color-grey: #6F684E;
    --color-white: #F2EDD8;
}

body {
    background-color: var(--color-grey);
    color: white;
}

textarea {
    resize: none;
}

form {
    margin: 20px 20px;
}

.todo-item {
    padding: 0px;
    margin: 20px 20px;
    background-color: var(--color-brown);
    width: 400px;
    border-radius: 15px;
}

.todo-item-title {
    background-color: var(--color-red);
    margin: 0px;
    padding: 5px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 1.7em;
    text-transform: uppercase;
    overflow-wrap: break-word;
    }

.todo-item-details {
    color: white;
    margin: 0px;
    padding: 5px 30px;
    text-align: justify;
    font-family: 'Archivo', sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
}

.todo-item-footer {
    background-color: var(--color-white);
    margin: 0px;
    padding: 5px 15px 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
    color: black;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}


.todo-item-footer * {
    display: inline-block;
}

.todo-item-footer-icons {
    float: right;
    padding: 10px 10px 5px 10px;
}

.add-todo input, textarea {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
