@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Changa+One');

:root {
    --color-blue: #44B3C2;
    --color-yellow: #FFB310;
    --color-red: #FA0026;
    --color-brown: #42361E;
    --color-grey: #6F684E;
    --color-white: #F2EDD8;
    --color-teal: #0ad1a6;
    --color-purple: #6a0ad1;
}

body {
    background-color: var(--color-grey);
    color: white;
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}

form {
    margin: 20px 20px;
}

.todo-item {
    padding: 0px;
    margin: 30px 30px 30px 450px;
    background-color: var(--color-brown);
    width: 400px;
    border-radius: 15px;
}

.todo-item-title {
    margin: 0px;
    padding: 5px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 1.7em;
    text-transform: uppercase;
    overflow-wrap: break-word;
    }

.background-red {
    background-color: var(--color-red);
}

.background-blue {
    background-color: var(--color-blue);
}

.background-yellow {
    background-color: var(--color-yellow);
}

.background-purple {
    background-color: var(--color-purple);
}

.background-teal {
    background-color: var(--color-teal);
}

.todo-item-details {
    color: white;
    margin: 0px;
    padding: 5px 30px;
    text-align: justify;
    font-family: 'Archivo', sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
}

.todo-item-footer {
    background-color: var(--color-white);
    margin: 0px;
    padding: 5px 15px 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
    color: black;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
}

.todo-item-footer * {
    display: inline-block;
}

.todo-item-footer-icons {
    float: right;
    padding: 10px 10px 5px 10px;
}

.add-todo input, textarea, select {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.logo img {
    max-height: 140px;
    max-width: 140px;
    display: block;
    margin: 40px auto;
}

.sidebar {
    position: fixed;
    float: left;
    margin: 0px;
    background-color: var(--color-brown);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 400px;
}

.type-first-letter {
    float: right;
    font-family: 'Changa One', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 5px;
    margin: 15px -10px 0px 0px;
    background-color: #fff;
    border-radius: 20px;
}